body{
  background-color: #FFDDD2;
  background-image: url("Pink-Flower-Wallpaper- (1).jpg");
}
 hr{
   border-color: grey;
   border-width: 5px;
   border-style: dotted none none;
   width: 10%;

  }
h1{
    font-family:"Lucida Handwriting",cursive;
  color: #FF8DC7;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}
h3{
  color: #FF8DC7;
  font-size: 30px;
  text-align: left;
  font-family:"Lucida Handwriting",cursive;
}

a:link, a:visited {
  background-color:#FF8DC7 ;
  color: grey;
  font-size: 25px;
  text-align: right;
  text-decoration: none;
  display: inline-block;

}
nav{
  text-align: right;
}

h2{
  color: #FF8DC7;
  font-size: 30px;
  text-align: center;
  font-family:"Lucida Handwriting",cursive;
}
p{
  font-family: "Copperplate", Papyrus, fantasy;
  text-align: center;
  font-size: 15px;
}
ol{
  font-family: "Copperplate", Papyrus, fantasy;
  font-size: 15px;
}
a href{
  font-family: "Copperplate", Papyrus, fantasy;
}
